<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test - Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96a48d">  <td>16/06/09 15:34:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG.afterMethod()[pri:0, instance:automationFramework.TestNG@5442a311]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>16/06/09 15:34:44</td>   <td>-2187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG.beforeMethod()[pri:0, instance:automationFramework.TestNG@5442a311]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>16/06/09 15:34:47</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG.f()[pri:0, instance:automationFramework.TestNG@5442a311]">f</td> 
  <td>main@764577347</td>   <td></td> </tr>
</table>
