<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abef66">  <td>16/06/10 14:02:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG.afterMethod()[pri:0, instance:automationFramework.TestNG@1a968a59]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>16/06/10 13:59:01</td>   <td>-226092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG.beforeMethod()[pri:0, instance:automationFramework.TestNG@1a968a59]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>16/06/10 13:59:04</td>   <td>-222541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG.f()[pri:0, instance:automationFramework.TestNG@1a968a59]">f</td> 
  <td>main@1234776885</td>   <td></td> </tr>
</table>
